-
    var team = [
        {img: 'pers1.jpg', name: 'Henri Syntegra', appointment: 'CEO'},
        {img: 'pers2.jpg', name: 'ISAAC ROSENFELD', appointment: 'MANAGING DIRECTOR'},
        {img: 'pers3.jpg', name: 'Kovalenko Aleksandr', appointment: 'MANAGING DIRECTOR'},
        {img: 'pers4.jpg', name: 'Henri Syntegra', appointment: 'CEO'},
        {img: 'pers5.jpg', name: 'Henri Syntegra', appointment: 'CEO'},
    ];

    var reviews = [
        {
            name: 'Valentin Porubyanskiy',
            appointmen: 'QA Engineer Itera Research',
            text: 'Our history begins in 1866, with the foundation of the Anglo-Swiss Condensed Milk Company. Henri Nestlé develops a breakthrough infant food in 1867, and in 1905 the company he founded merges with Anglo-Swiss, to form what is now known as the Nestlé Group. During this period cities grow and railways and steamships bring down commodity costs, spurring international trade in consumer goods.'
        },
        {
            name: 'Valentin Porubyanskiy',
            appointmen: 'QA Engineer Itera Research',
            text: 'Our history begins in 1866, with the foundation of the Anglo-Swiss Condensed Milk Company. Henri Nestlé develops a breakthrough infant food in 1867, and in 1905 the company he founded merges with Anglo-Swiss, to form what is now known as the Nestlé Group. During this period cities grow and railways and steamships bring down commodity costs, spurring international trade in consumer goods.'
        },
        {
            name: 'Valentin Porubyanskiy',
            appointmen: 'QA Engineer Itera Research',
            text: 'Our history begins in 1866, with the foundation of the Anglo-Swiss Condensed Milk Company. Henri Nestlé develops a breakthrough infant food in 1867, and in 1905 the company he founded merges with Anglo-Swiss, to form what is now known as the Nestlé Group. During this period cities grow and railways and steamships bring down commodity costs, spurring international trade in consumer goods.'
        },
        {
            name: 'Valentin Porubyanskiy',
            appointmen: 'QA Engineer Itera Research',
            text: 'Our history begins in 1866, with the foundation of the Anglo-Swiss Condensed Milk Company. Henri Nestlé develops a breakthrough infant food in 1867, and in 1905 the company he founded merges with Anglo-Swiss, to form what is now known as the Nestlé Group. During this period cities grow and railways and steamships bring down commodity costs, spurring international trade in consumer goods.'
        },
    {
    name: 'Valentin Porubyanskiy',
    appointmen: 'QA Engineer Itera Research',
    text: 'Our history begins in 1866, with the foundation of the Anglo-Swiss Condensed Milk Company. Henri Nestlé develops a breakthrough infant food in 1867, and in 1905 the company he founded merges with Anglo-Swiss, to form what is now known as the Nestlé Group. During this period cities grow and railways and steamships bring down commodity costs, spurring international trade in consumer goods.'
    },
    {
    name: 'Valentin Porubyanskiy',
    appointmen: 'QA Engineer Itera Research',
    text: 'Our history begins in 1866, with the foundation of the Anglo-Swiss Condensed Milk Company. Henri Nestlé develops a breakthrough infant food in 1867, and in 1905 the company he founded merges with Anglo-Swiss, to form what is now known as the Nestlé Group. During this period cities grow and railways and steamships bring down commodity costs, spurring international trade in consumer goods.'
    },
    {
    name: 'Valentin Porubyanskiy',
    appointmen: 'QA Engineer Itera Research',
    text: 'Our history begins in 1866, with the foundation of the Anglo-Swiss Condensed Milk Company. Henri Nestlé develops a breakthrough infant food in 1867, and in 1905 the company he founded merges with Anglo-Swiss, to form what is now known as the Nestlé Group. During this period cities grow and railways and steamships bring down commodity costs, spurring international trade in consumer goods.'
    },
    {
    name: 'Valentin Porubyanskiy',
    appointmen: 'QA Engineer Itera Research',
    text: 'Our history begins in 1866, with the foundation of the Anglo-Swiss Condensed Milk Company. Henri Nestlé develops a breakthrough infant food in 1867, and in 1905 the company he founded merges with Anglo-Swiss, to form what is now known as the Nestlé Group. During this period cities grow and railways and steamships bring down commodity costs, spurring international trade in consumer goods.'
    },
    ];

    var vacancies = [
        {
            title: 'UI/UX Designer',
            location: 'Kiev',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia eleifend massa, eget semper neque pretium non. Curabitur dolor dolor, semper ac pretium in, semper et elit. Sed accumsan eros nec tempus egestas. Phasellus feugiat nec velit sed cursus. Aenean neque felis, malesuada vel massa placerat, blandit iaculis diam. Nunc in ante condimentum, imperdiet velit et, lacinia ante. Proin accumsan suscipit metus interdum accumsan. Maecenas nec quam tincidunt, blandit arcu at, fringilla massa. Ut vel augue aliquam, convallis quam non, fringilla quam. Nullam pretium ex enim, non tincidunt ipsum finibus consectetur. Sed fringilla viverra sem eu scelerisque. Nullam facilisis diam tortor, ac convallis ligula eleifend sit amet. Sed non mauris purus. Nulla nec felis molestie orci convallis accumsan quis sit amet mi.Donec dapibus fermentum justo, eu lobortis erat ultrices nec. Quisque eget nisi leo. Aliquam efficitur, lorem a lacinia malesuada, ex libero mollis lorem, euismod placerat diam felis a risus. Praesent nunc nisi, convallis vel porta vel, interdum sit amet elit. Ut elit lacus, consequat quis auctor vel, dapibus at erat. Nam sagittis faucibus eros ut consequat. Nullam vitae sem non nisl facilisis eleifend. Curabitur porttitor sagittis eros vitae tristique. Donec dictum tristique risus semper mattis. Nunc suscipit ullamcorper magna, non eleifend leo commodo eu. Fusce sagittis, est sed rhoncus sollicitudin, felis tellus ultricies nibh, nec viverra mauris sapien in lorem. Donec malesuada pellentesque dapibus. Maecenas accumsan ex metus, eu dignissim diam sagittis at. Maecenas accumsan augue vel fringilla suscipit.'
        },
        {
        title: 'Senior System Administration ( Head of IT department )',
        location: 'Ivano-Frankivsk',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia eleifend massa, eget semper neque pretium non. Curabitur dolor dolor, semper ac pretium in, semper et elit. Sed accumsan eros nec tempus egestas. Phasellus feugiat nec velit sed cursus. Aenean neque felis, malesuada vel massa placerat, blandit iaculis diam. Nunc in ante condimentum, imperdiet velit et, lacinia ante. Proin accumsan suscipit metus interdum accumsan. Maecenas nec quam tincidunt, blandit arcu at, fringilla massa. Ut vel augue aliquam, convallis quam non, fringilla quam. Nullam pretium ex enim, non tincidunt ipsum finibus consectetur. Sed fringilla viverra sem eu scelerisque. Nullam facilisis diam tortor, ac convallis ligula eleifend sit amet. Sed non mauris purus. Nulla nec felis molestie orci convallis accumsan quis sit amet mi.Donec dapibus fermentum justo, eu lobortis erat ultrices nec. Quisque eget nisi leo. Aliquam efficitur, lorem a lacinia malesuada, ex libero mollis lorem, euismod placerat diam felis a risus. Praesent nunc nisi, convallis vel porta vel, interdum sit amet elit. Ut elit lacus, consequat quis auctor vel, dapibus at erat. Nam sagittis faucibus eros ut consequat. Nullam vitae sem non nisl facilisis eleifend. Curabitur porttitor sagittis eros vitae tristique. Donec dictum tristique risus semper mattis. Nunc suscipit ullamcorper magna, non eleifend leo commodo eu. Fusce sagittis, est sed rhoncus sollicitudin, felis tellus ultricies nibh, nec viverra mauris sapien in lorem. Donec malesuada pellentesque dapibus. Maecenas accumsan ex metus, eu dignissim diam sagittis at. Maecenas accumsan augue vel fringilla suscipit.'
        },
        {
        title: 'Middle C++ developer (for Next-Gen Automotive Infotainment Project)',
        location: 'Krivoy Rog',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia eleifend massa, eget semper neque pretium non. Curabitur dolor dolor, semper ac pretium in, semper et elit. Sed accumsan eros nec tempus egestas. Phasellus feugiat nec velit sed cursus. Aenean neque felis, malesuada vel massa placerat, blandit iaculis diam. Nunc in ante condimentum, imperdiet velit et, lacinia ante. Proin accumsan suscipit metus interdum accumsan. Maecenas nec quam tincidunt, blandit arcu at, fringilla massa. Ut vel augue aliquam, convallis quam non, fringilla quam. Nullam pretium ex enim, non tincidunt ipsum finibus consectetur. Sed fringilla viverra sem eu scelerisque. Nullam facilisis diam tortor, ac convallis ligula eleifend sit amet. Sed non mauris purus. Nulla nec felis molestie orci convallis accumsan quis sit amet mi.Donec dapibus fermentum justo, eu lobortis erat ultrices nec. Quisque eget nisi leo. Aliquam efficitur, lorem a lacinia malesuada, ex libero mollis lorem, euismod placerat diam felis a risus. Praesent nunc nisi, convallis vel porta vel, interdum sit amet elit. Ut elit lacus, consequat quis auctor vel, dapibus at erat. Nam sagittis faucibus eros ut consequat. Nullam vitae sem non nisl facilisis eleifend. Curabitur porttitor sagittis eros vitae tristique. Donec dictum tristique risus semper mattis. Nunc suscipit ullamcorper magna, non eleifend leo commodo eu. Fusce sagittis, est sed rhoncus sollicitudin, felis tellus ultricies nibh, nec viverra mauris sapien in lorem. Donec malesuada pellentesque dapibus. Maecenas accumsan ex metus, eu dignissim diam sagittis at. Maecenas accumsan augue vel fringilla suscipit.'
        },
        {
        title: 'UI/UX Designer',
        location: 'Kiev',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia eleifend massa, eget semper neque pretium non. Curabitur dolor dolor, semper ac pretium in, semper et elit. Sed accumsan eros nec tempus egestas. Phasellus feugiat nec velit sed cursus. Aenean neque felis, malesuada vel massa placerat, blandit iaculis diam. Nunc in ante condimentum, imperdiet velit et, lacinia ante. Proin accumsan suscipit metus interdum accumsan. Maecenas nec quam tincidunt, blandit arcu at, fringilla massa. Ut vel augue aliquam, convallis quam non, fringilla quam. Nullam pretium ex enim, non tincidunt ipsum finibus consectetur. Sed fringilla viverra sem eu scelerisque. Nullam facilisis diam tortor, ac convallis ligula eleifend sit amet. Sed non mauris purus. Nulla nec felis molestie orci convallis accumsan quis sit amet mi.Donec dapibus fermentum justo, eu lobortis erat ultrices nec. Quisque eget nisi leo. Aliquam efficitur, lorem a lacinia malesuada, ex libero mollis lorem, euismod placerat diam felis a risus. Praesent nunc nisi, convallis vel porta vel, interdum sit amet elit. Ut elit lacus, consequat quis auctor vel, dapibus at erat. Nam sagittis faucibus eros ut consequat. Nullam vitae sem non nisl facilisis eleifend. Curabitur porttitor sagittis eros vitae tristique. Donec dictum tristique risus semper mattis. Nunc suscipit ullamcorper magna, non eleifend leo commodo eu. Fusce sagittis, est sed rhoncus sollicitudin, felis tellus ultricies nibh, nec viverra mauris sapien in lorem. Donec malesuada pellentesque dapibus. Maecenas accumsan ex metus, eu dignissim diam sagittis at. Maecenas accumsan augue vel fringilla suscipit.'
        },
        {
        title: 'UI/UX Designer',
        location: 'Kiev',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia eleifend massa, eget semper neque pretium non. Curabitur dolor dolor, semper ac pretium in, semper et elit. Sed accumsan eros nec tempus egestas. Phasellus feugiat nec velit sed cursus. Aenean neque felis, malesuada vel massa placerat, blandit iaculis diam. Nunc in ante condimentum, imperdiet velit et, lacinia ante. Proin accumsan suscipit metus interdum accumsan. Maecenas nec quam tincidunt, blandit arcu at, fringilla massa. Ut vel augue aliquam, convallis quam non, fringilla quam. Nullam pretium ex enim, non tincidunt ipsum finibus consectetur. Sed fringilla viverra sem eu scelerisque. Nullam facilisis diam tortor, ac convallis ligula eleifend sit amet. Sed non mauris purus. Nulla nec felis molestie orci convallis accumsan quis sit amet mi.Donec dapibus fermentum justo, eu lobortis erat ultrices nec. Quisque eget nisi leo. Aliquam efficitur, lorem a lacinia malesuada, ex libero mollis lorem, euismod placerat diam felis a risus. Praesent nunc nisi, convallis vel porta vel, interdum sit amet elit. Ut elit lacus, consequat quis auctor vel, dapibus at erat. Nam sagittis faucibus eros ut consequat. Nullam vitae sem non nisl facilisis eleifend. Curabitur porttitor sagittis eros vitae tristique. Donec dictum tristique risus semper mattis. Nunc suscipit ullamcorper magna, non eleifend leo commodo eu. Fusce sagittis, est sed rhoncus sollicitudin, felis tellus ultricies nibh, nec viverra mauris sapien in lorem. Donec malesuada pellentesque dapibus. Maecenas accumsan ex metus, eu dignissim diam sagittis at. Maecenas accumsan augue vel fringilla suscipit.'
        },
        {
        title: 'UI/UX Designer',
        location: 'Kiev',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia eleifend massa, eget semper neque pretium non. Curabitur dolor dolor, semper ac pretium in, semper et elit. Sed accumsan eros nec tempus egestas. Phasellus feugiat nec velit sed cursus. Aenean neque felis, malesuada vel massa placerat, blandit iaculis diam. Nunc in ante condimentum, imperdiet velit et, lacinia ante. Proin accumsan suscipit metus interdum accumsan. Maecenas nec quam tincidunt, blandit arcu at, fringilla massa. Ut vel augue aliquam, convallis quam non, fringilla quam. Nullam pretium ex enim, non tincidunt ipsum finibus consectetur. Sed fringilla viverra sem eu scelerisque. Nullam facilisis diam tortor, ac convallis ligula eleifend sit amet. Sed non mauris purus. Nulla nec felis molestie orci convallis accumsan quis sit amet mi.Donec dapibus fermentum justo, eu lobortis erat ultrices nec. Quisque eget nisi leo. Aliquam efficitur, lorem a lacinia malesuada, ex libero mollis lorem, euismod placerat diam felis a risus. Praesent nunc nisi, convallis vel porta vel, interdum sit amet elit. Ut elit lacus, consequat quis auctor vel, dapibus at erat. Nam sagittis faucibus eros ut consequat. Nullam vitae sem non nisl facilisis eleifend. Curabitur porttitor sagittis eros vitae tristique. Donec dictum tristique risus semper mattis. Nunc suscipit ullamcorper magna, non eleifend leo commodo eu. Fusce sagittis, est sed rhoncus sollicitudin, felis tellus ultricies nibh, nec viverra mauris sapien in lorem. Donec malesuada pellentesque dapibus. Maecenas accumsan ex metus, eu dignissim diam sagittis at. Maecenas accumsan augue vel fringilla suscipit.'
        },
        {
        title: 'UI/UX Designer',
        location: 'Kiev',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia eleifend massa, eget semper neque pretium non. Curabitur dolor dolor, semper ac pretium in, semper et elit. Sed accumsan eros nec tempus egestas. Phasellus feugiat nec velit sed cursus. Aenean neque felis, malesuada vel massa placerat, blandit iaculis diam. Nunc in ante condimentum, imperdiet velit et, lacinia ante. Proin accumsan suscipit metus interdum accumsan. Maecenas nec quam tincidunt, blandit arcu at, fringilla massa. Ut vel augue aliquam, convallis quam non, fringilla quam. Nullam pretium ex enim, non tincidunt ipsum finibus consectetur. Sed fringilla viverra sem eu scelerisque. Nullam facilisis diam tortor, ac convallis ligula eleifend sit amet. Sed non mauris purus. Nulla nec felis molestie orci convallis accumsan quis sit amet mi.Donec dapibus fermentum justo, eu lobortis erat ultrices nec. Quisque eget nisi leo. Aliquam efficitur, lorem a lacinia malesuada, ex libero mollis lorem, euismod placerat diam felis a risus. Praesent nunc nisi, convallis vel porta vel, interdum sit amet elit. Ut elit lacus, consequat quis auctor vel, dapibus at erat. Nam sagittis faucibus eros ut consequat. Nullam vitae sem non nisl facilisis eleifend. Curabitur porttitor sagittis eros vitae tristique. Donec dictum tristique risus semper mattis. Nunc suscipit ullamcorper magna, non eleifend leo commodo eu. Fusce sagittis, est sed rhoncus sollicitudin, felis tellus ultricies nibh, nec viverra mauris sapien in lorem. Donec malesuada pellentesque dapibus. Maecenas accumsan ex metus, eu dignissim diam sagittis at. Maecenas accumsan augue vel fringilla suscipit.'
        },
    ];
doctype html
html
    include ../include/head.pug
    body.company-page
        main.main_wrapp
            include ../include/header.pug
            section.underhead(style="background: url(images/bg/bg_company.jpg)")
                .wrap.wrap_size_large
                    .breadcrumbs
                        ul
                            li
                                a(href="/") Home
                            li
                                span Company
                    h3.underhead__title Company
            section.main-content
                .wrap.wrap_size_large
                    .main-content__wr
                        .main-content__title-wr
                            h2.cap_type_orange History
                        .main-content__text-wr
                            .main-content__text.user_text
                                p Our history begins in 1866, with the foundation of the Anglo-Swiss Condensed Milk Company. Henri Nestlé develops a breakthrough infant food in 1867, and in 1905 the company he founded merges with Anglo-Swiss, to form what is now known as the Nestlé Group. During this period cities grow and railways and steamships bring down commodity costs, spurring international trade in consumer goods.
                                p US brothers Charles and George Page help establish Anglo-Swiss Condensed Milk Company. Using abundant supplies of fresh milk in Switzerland, they apply knowledge gained in their homeland to establish Europe’s first production facility for condensed milk in Cham. They start supplying Europe’s industrial towns with the product under the Milkmaid brand, marketing it as a safe, long-life alternative to fresh milk.
                                p Nestlé’s founder, German-born pharmacist Henri Nestlé, launches his ‘farine lactée’ (‘flour with milk’) in Vevey, Switzerland. It combines cow’s milk, wheat flour and sugar, and Nestlé develops it for consumption by infants who cannot be breastfed, to tackle high mortality rates. Around this time he starts using the now iconic ‘Nest’ logo.
            section.main-content.main-content_index_1
                .wrap.wrap_size_large
                    .main-content__wr
                        .main-content__title-wr
                            h2.cap_type_orange Philosophy and Mission
                        .main-content__text-wr
                            .main-content__text.user_text
                                p Our history begins in 1866, with the foundation of the Anglo-Swiss Condensed Milk Company. Henri Nestlé develops a breakthrough infant food in 1867, and in 1905 the company he founded merges with Anglo-Swiss, to form what is now known as the Nestlé Group. During this period cities grow and railways and steamships bring down commodity costs, spurring international trade in consumer goods.
                                p US brothers Charles and George Page help establish Anglo-Swiss Condensed Milk Company. Using abundant supplies of fresh milk in Switzerland, they apply knowledge gained in their homeland to establish Europe’s first production facility for condensed milk in Cham. They start supplying Europe’s industrial towns with the product under the Milkmaid brand, marketing it as a safe, long-life alternative to fresh milk.
                                p Nestlé’s founder, German-born pharmacist Henri Nestlé, launches his ‘farine lactée’ (‘flour with milk’) in Vevey, Switzerland. It combines cow’s milk, wheat flour and sugar, and Nestlé develops it for consumption by infants who cannot be breastfed, to tackle high mortality rates. Around this time he starts using the now iconic ‘Nest’ logo.
            section.comp-team
                .comp-team__cap-wr
                    h3.comp-team__cap.cap_type_orange Team
                    .comp-team__subtitle If, for some reason, you can not open the tab you need, write to us here
                .comp-team__slider-bl
                    .comp-team__slider
                        each item in team
                            .comp-team__slider-item
                                .comp-team__img-wr
                                    img(src="/images/content/company/" + item.img)
                                .comp-team__info
                                    .comp-team__name= item.name
                                    .comp-team__appointment= item.appointment
            section.our-blog
                .wrap.wrap_size_large
                    h3.our-blog__cap.cap_type_orange Our blog
                    .our-blog__wr
                        .our-blog__big-item-bl
                            .our-blog__big-item
                                a.our-blog__img-wr(href="#")
                                    .our-blog__img(style="background-image: url(/images/content/common/newsx.jpg)")
                                    .our-blog__big-item-date 12 / 12 / 18
                                .our-blog__big-item-cont
                                    h4.our-blog__item-title
                                        a(href="#") Core Business Processes in Finance
                                    .our-blog__big-item-txt.
                                        From the speed and effectiveness of the work of employees depends ovn the development
                                        of business.Creation of personal knowledge base, storage of documents and ensuring their safety
                                    .our-blog__more
                                        a(href="#") Read more
                        .our-blog__list-bl
                            .our-blog__list
                                .our-blog__list-item
                                    .our-blog__list-item-date 12 / 12 / 18
                                    h4.our-blog__item-title
                                        a(href="#") Core Business Processes in Finance
                                    .our-blog__list-item-txt.
                                        From the speed and effectiveness of the work of employees depends ovn the development
                                        of business.Creation of personal knowledge base, storage of documents and ensuring their safety
                                    .our-blog__more
                                        a(href="#") Read more
                                .our-blog__list-item
                                    .our-blog__list-item-date 12 / 12 / 18
                                    h4.our-blog__item-title
                                        a(href="#") Core Business Processes in Finance
                                    .our-blog__list-item-txt.
                                        From the speed and effectiveness of the work of employees depends ovn the development
                                        of business.Creation of personal knowledge base, storage of documents and ensuring their safety
                                    .our-blog__more
                                        a(href="#") Read more
                                .our-blog__list-item
                                    .our-blog__list-item-date 12 / 12 / 18
                                    h4.our-blog__item-title
                                        a(href="#") Core Business Processes in Finance
                                    .our-blog__list-item-txt.
                                        From the speed and effectiveness of the work of employees depends ovn the development
                                        of business.Creation of personal knowledge base, storage of documents and ensuring their safety
                                    .our-blog__more
                                        a(href="#") Read more
            section.cases-n-advent
                .wrap.wrap_size_large
                    .cases-n-advent__wr
                        .case-studies
                            .cases-n-advent__title-wr
                                h3.cap_type_orange Case Studies
                                .cases-n-advent__subtilte From the speed and effectiveness of the work of employees depends ovn the development of business.Creation of personal
                            .case-studies__wr
                                .case-studies__item
                                    a(href="#")
                                        img(src="/images/content/partners/partner_1.png")
                                .case-studies__item
                                    a(href="#")
                                        img(src="/images/content/partners/partner_2.png")
                                .case-studies__item
                                    a(href="#")
                                        img(src="/images/content/partners/partner_3.png")
                                .case-studies__item
                                    a(href="#")
                                        img(src="/images/content/partners/partner_4.png")
                                .case-studies__item
                                    a(href="#")
                                        img(src="/images/content/partners/partner_5.png")
                                .case-studies__item
                                    a(href="#") View all casse
                        .advant
                            .cases-n-advent__title-wr
                                h3.cap_type_orange Our Advantages
                                .cases-n-advent__subtilte From the speed and effectiveness of the work of employees depends ovn the development of business.Creation of personal
                            .advant__wr
                                .advant__item
                                    h4 Core Business Processes in Finance
                                    p From the speed and effectiveness of the work of employees depends ovn the development of business.Creation of personal knowledge base
                                .advant__item
                                    h4 Core Business Processes in Finance
                                    p From the speed and effectiveness of the work of employees depends ovn the development of business.Creation of personal knowledge base
                                .advant__item
                                    h4 Core Business Processes in Finance
                                    p From the speed and effectiveness of the work of employees depends ovn the development of business.Creation of personal knowledge base
                                .advant__item
                                    h4 Core Business Processes in Finance
                                    p From the speed and effectiveness of the work of employees depends ovn the development of business.Creation of personal knowledge base
            section.reviews
                .reviews__title-wr
                    h3.cap_type_orange Reviews
                    .reviews__subtitle From the speed and effectiveness of the work of employees depends ovn the development of business.Creation of personal
                .reviews__slider
                    each review in reviews
                        .reviews__slider-item
                            .reviews__slider-item-wr
                                .reviews__name= review.name
                                .reviews__appointmen= review.appointmen
                                .reviews__txt= review.text
            section.joinus
                .joinus__bg
                .wrap.wrap_size_middle
                    .joinus__wr
                        .joinus__title-wr
                            h3.joinus__cap Join us
                            .joinus__subtitle!= 'If, for some reason, you can not open the tab you need, write to us here <a href="mailto:syntegra@gmail.com">syntegra@gmail.com</a>'
                        .joinus__vacancies
                            each vacancy in vacancies
                                .title-acc
                                    .joinus__vacancy-title-wr
                                        .joinus__vacancy-title= vacancy.title
                                        .joinus__location= vacancy.location
                                .content-acc
                                    .joinus__text= vacancy.text
            include ../include/section_busines.pug
            include ../include/footer.pug